*{
    padding:0px;
    margin:0px;
    font-family:cursive;
}
body{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(112, 117, 140);
}
.content{
    padding:4px;
    border: 3px solid white;
    background: rgb(40, 40, 104);
    border-radius: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding:8px;
    gap:60px;
}
button{
    width:20px;
    font-size: 15px;
    border-radius: 50%;
    border:none;
}
.headdays{
    display: grid;
    grid-template-columns: repeat(7,1fr) ;
    color:white;
    padding:10px 0px;
    text-align: center;
}
.days{
    display: grid;
    grid-template-columns:repeat(7,1fr);
    background: aliceblue;
    text-align: center;
    
}
.box{
    border:2px solid rgb(40, 40, 104);
    padding:5px 0px;
    margin:2px;
    border-radius: 5px;
    color:rgb(53, 66, 209);
}
.box:nth-child(7n + 1) {
    color: red;
    font-weight: bold;
  }

.day-high {
    background:rgb(40, 40, 104);
    color:rgb(253, 253, 253);
}
select{
    width:90px;
    height:25px;
    font-weight: 400;
    border-radius: 4px;
}